/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.sidenav {
  padding-bottom: 0px !important;

}

.sidenav .user-view {
  margin-bottom: 0px !important;
}

/* Aumentando o tamanho da fonte do nome do usuário */
.sidenav .user-view .name {
  font-size: 1.5rem;
}

/* Aumentando o tamanho da fonte do email do usuário */
.sidenav .user-view .email {
  font-size: 1.05rem;
}

#novaRoma {
  font-size: 1.4rem;
  margin: 0px;
}

.custom-collection { 
  border-radius: 10px;
  box-shadow: 0px 3px 10px #dad4d4;
}

.custom-footer {
  text-align: center;
  font-weight: 900;
}

.collection {
  margin: 0rem 0 0rem 0; 
  border: 1px solid #6b6b6b;
  border-radius: 10px;
  box-shadow: 0px 3px 10px #dad4d4;
}

.collection, .custom-collection, .cep {
  margin: 0rem 0 0rem 0; 
  border: 1px solid #6b6b6b;
  border-radius: 10px;
  box-shadow: 0px 3px 10px #dad4d4;
}

.light-blue.lighten-1 {
  background-color: #252425!important;
}

nav .brand-logo {
    color: #8ce2aa;   
}

.btn, .btn-large, .btn-small {
  color: #252425;
  background-color: #8ce2aa;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #7ac494;
}

input.select-dropdown {
  border-bottom: 1px solid #8ce2aa !important;
  box-shadow: 0 1px 0 0 #8ce2aa !important;
}

.input-field .prefix.active {
  color: #8ce2aa;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #8ce2aa;
  -webkit-box-shadow: 0 1px 0 0 #8ce2aa;
          box-shadow: 0 1px 0 0 #8ce2aa;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #8ce2aa;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #8ce2aa;
  outline: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: #e0e0e0;
  color: #252425;
}

.tabs .indicator {
  background-color: #252425;
}

.tabs .tab a {
  background-color: #e0e0e0;
  color: #252425;
}


body{
  background-color: #e0e0e0;
}

select {
    background-color: #e0e0e0;
    border: 1px solid #252425;
}